<template name="postItem">
  <article class='postItem'>
    <header>
      <div class="date">
        <h6>
          <i class="icon-calendar icon-white"></i> {{formatted_date}}
        </h6>
      </div>
      <h3>
        <a href="/posts/{{slug}}">{{title}}</a>
      </h3>
      <div class="meta">
        {{#each tags}}
        <a href="/tag/{{.}}" rel="tag">{{.}}</a>,
        {{/each}}  
      </div>
    </header>
    <div class='postItemHead'>
    </div>
    <div class='postItemBody'>
{{#markdown}}{{body}}{{/markdown}}    
    </div>  
  </article>
</template>
