<template name="comment">
  <li class="comment" id="li-comment-26">
    <div class="seppp">
      <div>
          <div class="blog_item_comments_description">
            <div class="hidden-phone" style="float:left; margin-right:0px;">
              <img alt="" src="http://gravatar.com/avatar/ericgclifford?s=70" class="avatar img-polaroid  avatar-70 photo avatar-default" height="70" width="70">
            </div>
            <h6 style="margin-bottom:4px;">By <span class="colored"><a href="http://wordpress.org/" rel="external nofollow" class="url">{{author}}</a></span> <a style="color:inherit; padding-left:7px;" href="http://html.orange-idea.com/builder/hello-world/#comment-26">12 Sep 2012</a></h6>
            <hr style="margin-top:0px; margin-bottom:10px;">
            <div style=" font-style:italic;">
              {{body}}
            </div>
            <div style="clear:left"></div>
          </div>
      </div>
    </div>
  </li>
</template> 